body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-content: space-evenly;
    margin: 20px 0px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    gap: 16px;

    justify-content: flex-start;
    margin: 20px 0px auto;
}

.sketch {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    align-items: center;
    margin: 20px 0px auto;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    flex-wrap: wrap;
    color:#b69c7a;
    align-content: flex-start;
}

.pixel {
    border-color: #dadada;
    display: flex;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    width: 100px;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100px;
    height: 40px;;
}

select {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100px;
    height: 40px;
    text-align: center;
}

.pixelButtons {
    display: flex;
    gap: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 50px;
    width: 100%;
    background-color: #f0f8ff;
    text-align: center;
}

img {
    max-width: 30%;
    height: auto;
}

.gitlogo {
    display: flex;
    align-items: center;
    width: 50px;
}

a {
    text-decoration: none;
    color: #43597f;
}