body {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 0;
}
.container {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    flex-wrap: wrap;
    color:#b69c7a;
    align-content: flex-start;
}

.pixel {
    border-color: #dadada;
    display: flex;
}